@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

body {
	background-color: black;
	color: white;
	font-family: 'Fira Code';
	width: 100vw;
	//display: flex;
	//align-items: center;
	//flex-wrap: wrap;
}

body * {
	flex: 1;
}

::selection {
	color: black;
	background-color: white;
}

h1 {
	font-family: 'Fira Code';
	font-size: 32pt;
	text-align: center;
}

a {
	display: inline-block;
	font-family: 'Fira Code';
	text-decoration: underline;
	transition: width 4s, height 4s;
	color: #00ff55;
}

a:hover {
	font-family: 'Fira Code';
	transform: scale(1.1);
	text-decoration: underline;
	color: #00ff55;
}

a::selection {
	color: white;
	background-color: #00ff55;
	text-decoration: underline;
	text-decoration-color: white;
}

.box {
	margin: 2.5em;
	border: 2px solid white;
	padding: 1em;
	box-shadow: 5px 5px 1px 1px #ffffff88;
	white-space: pre-wrap;
}

.cursor {
	animation-name: blink;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	white-space: nowrap;
}

@keyframes blink {
	0% {background-color: black;}
	50% {background-color: white;}
	100% {background-color: white;}
}

.green {
	color: #00ff55;
}

.orange {
	color: #f46e2c;
}

.ls {
	list-style-type: none;
	white-space: wrap;
	/*display: flex;
	flex-wrap: wrap;*/
}

.ls li {
	margin-right: 2.5%;
	margin-top: auto;
	display: inline-block;
}

.ls li a{
	text-decoration: underline;
	line-height: 2em;
}

#ls-box {
	padding-top: 0em;
	padding-bottom: 0em;
}

.bar {
	text-align: center;
}

